@import '../../stylesheet/main.scss';

.thumbnail {
	position: relative;
	background-image: url('assets/placeholder.png');
	border-radius: 0.8rem;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 0.8rem;
		//pulse getting reused from regular cards scss
		animation: pulse 2.5s infinite;
	}

	&-img-trending {
		border-radius: 0.8rem;
		width: 47rem;
		height: 23rem;
		opacity: 0;
		object-fit: cover;
		transition: opacity 200ms ease-in-out;
	}

	&-loaded {
		img {
			opacity: 1;
		}
		&::before {
			content: none;
		}
	}

	&-img-bookmark {
		position: absolute;
		z-index: 1;
		width: 3.2rem;
		height: 3.2rem;
		top: 1.6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($color: #000000, $alpha: 0.5);
		border-radius: 50%;
		right: 2.4rem;
		transition: all 0.3s ease-in-out;
		path {
			transition: all 0.3s ease-in-out;
		}
	}
	&-img-bookmark:hover {
		background-color: rgba($color: #fff, $alpha: 0.5);
		path {
			stroke: #000000;
		}
	}
	&-details-container {
		width: 47rem;
		height: 10rem;
		position: absolute;
		z-index: 1;
		padding: 2.4rem;
		bottom: 0;
		h2 {
			@include font-hsm-medium;
		}
	}
	&-details {
		display: flex;
		gap: 1.9rem;
		height: 1.6rem;
		margin-top: 0.8rem;
		margin-bottom: 0.3rem;
		@include font-bmd-light;
		> div {
			position: relative;
			//except last child, all the child
			&:not(:last-child) {
				&::after {
					position: absolute;
					display: inline-block;
					content: '';
					top: 50%;
					transform: translateY(-50%);
					border-radius: 50%;
					right: -1.1rem;
					width: 0.3rem;
					height: 0.3rem;
					background-color: #fff;
				}
			}
		}
		.detail-category {
			display: flex;
			align-items: center;
			img {
				margin-right: 0.6rem;
			}
		}
	}

	&-play-container {
		position: absolute;
		inset: 0;
		background-color: rgba($color: #000000, $alpha: 0.5);
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 200ms ease-in-out;

		img {
			width: 3rem;
			height: 3rem;
		}

		button {
			width: 11.7rem;
			height: 4.8rem;
			border-radius: 2.85rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0.9rem;
			background-color: rgba($color: #fff, $alpha: 0.3);
			span {
				margin-right: 1.34rem;
				@include font-hxs-medium;
			}
		}
	}

	&:hover {
		.thumbnail-play-container {
			opacity: 1;
		}
	}
}
