@import 'stylesheet/main';

.app {
	display: flex;
	margin-bottom: 3.2rem;

	&-content {
		flex: 1;
	}

	.cards-container {
		margin-top: 3.8rem;
		display: grid;
		gap: 3rem 4rem;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}
}
