@import 'stylesheet/main';

.app {
	display: flex;
	margin-bottom: 3.2rem;
	margin-right: 3.2rem;
	overflow-x: hidden;

	@include ipad {
		flex-direction: column;
		margin: 2.5rem;
	}

	&-content {
		flex: 1;
	}

	.cards-container {
		margin-top: 3.8rem;
		display: grid;
		gap: 3rem 1.5rem;
		grid-template-columns: repeat(3, 1fr);

		p {
			@include font-hxs-medium;
		}

		@include mobile {
			grid-template-columns: repeat(2, 1fr);
		}

		@include xlarge {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.section-container {
		h1 {
			@include font-hlg-light;
			margin-top: 4rem;
		}
	}
}
