html {
	font-size: 10px;
	@media (width <= 450px) {
		font-size: 8px;
	}
	@media (width <= 900px) {
		font-size: 9px;
	}
	// overflow-x: hidden;
}

* {
	box-sizing: border-box;
	color: inherit;
}

body {
	color: #fff;
	background: #10141e;
	width: 100vw;
	overflow-x: hidden;
	font-family: 'Outfit', sans-serif;
}

input,
textarea,
button {
	font-family: inherit;
}

input {
	background: none;
	border: none;
	outline: none;
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
button {
	margin: 0;
	padding: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
