@import '../../stylesheet/main.scss';

.home {
	&-trending-section {
		width: 86vw;

		@include ipad {
			width: auto;
		}
		h1 {
			margin-top: 3.5rem;
			margin-bottom: 2.5rem;
			@include font-hlg-light;
		}

		&-placeholder {
			display: flex;
			gap: 6.4rem;
		}
	}
	&-recommended-section {
		h1 {
			margin-top: 4rem;
			margin-bottom: 3.2rem;
			@include font-hlg-light;
		}
	}
	//to hide swiper button responsively
	.swiper-button-next,
	.swiper-button-prev {
		display: none;
		@include large {
			display: block;
		}
	}

	.swiper-pagination {
		@include large {
			display: none;
		}
	}
}
